---
import AvatarList from './AvatarList.astro';
type Props = {
	path: string;
};
const { path } = Astro.props as Props;
---

<footer>
	<a href="https://kirrosh.xyz" target="_blank">Мой профиль</a>
	<!-- <AvatarList path={path} /> -->
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
	}
</style>
